#root {
    display: flex;
    justify-content: center;
    align-items: center;
}
div#card-auth {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    width: 920px;
    height: 500px;
    border-radius: 14px;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 2px 10px 0 rgba(0, 0, 0, 0.1);
}
div#divider {
    background: #ccc;
    width: 2px;
    height: 400px;
    border-radius: 80px;
}
div#logo-img {
    width: 50%;
    display: flex;
    justify-content: center;
}
#logo {
    margin-top: 10px;
    margin-bottom: 25px;
    transition: 200ms transform;
}
#logo:hover {
    transform: scale(1.1);
}
#app-name {
    display: none;
}
form#LoginForm {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
form#LoginForm > svg {
    border-radius: 100px;
    box-shadow: 4px 2px 10px 0 rgba(0, 0, 0, 0.1);
    transition: 200ms transform;
}
form#LoginForm > svg:hover {
    transform: scale(1.1);
}
form#LoginForm > h2 {
    margin-top: 5px;
}
div.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    flex-direction: row;
    border: rgb(100, 168, 207) solid 1.5px;
    margin: 5px;
    background-color: #fff;
    padding: 3px;
    padding-left: 8px;
}
form#LoginForm input {
    width: 240px;
    border-radius: 14px;
    border: unset;
    padding: 8px;
    font-weight: 500;
}
form#LoginForm input::placeholder {
    font-weight: 500;
}
form#LoginForm input:focus {
    outline: unset;
}
form#LoginForm #button {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 40px;
    width: 160px;
    border-radius: 40px;
    border: 0;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
    background: #f58634;
    color: #fff;
    transition: 200ms transform;
    font-weight: bolder;
    font-size: 12pt;
}
form#LoginForm #button:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 920px) {
    #root {
        background-color: #fff;
    }
    #logo {
        display: none;
    }
    #app-name {
        display: initial;
        width: 100%;
    }
    div#card-auth {
        width: 100vw;
        box-shadow: unset;
        flex-direction: column;
    }
    div#divider {
        display: none;
    }
    form#LoginForm {
        height: auto;
        min-height: 300px;
        width: auto;
    }
    form#LoginForm > svg {
        display: none;
    }
    form#LoginForm > h2 {
        margin-top: -50px;
    }
}
